/* LightCard specific styles */
.color-temp-container {
  text-align: center;
  margin-top: 5px;
  padding: 0 1.5rem;
}

.color-temp-container p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.color-palette {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0;
}

.color-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.color-dot.warm { background-color: #ffca8a; }
.color-dot.warm-white { background-color: #fff4e6; }
.color-dot.white { background-color: #ffffff; border: 2px solid #eee; }
.color-dot.cool-white { background-color: #e6f7ff; }
.color-dot.cool { background-color: #d1eaff; }

.color-dot.selected {
  border-color: var(--primary-color);
}